/* 
#9356DC (violet)
#FF79DA (rose)
#99E2D0 (vert/bleu)

#eaeaea (gris clair)
#f6f6f6 (gris très clair)
#353535 (gris foncé)

Polices
Logo et titres: Shrikhand
Texte: Roboto
*/

/* Global */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*font-family: 'Shrikhand', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, input, button, hgroup{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 22px;
    margin-left: 20px;
}

h3{
    font-size: 18px;
}


body {
    margin: 0;
    width: 100%;
}

.background-lightgray {
    background-color: #f6f6f6 ;
}

.flex {
    display: flex;
}

/* Header */

header{
    text-align: center;
}

header h1{
    margin: 0;
    padding-top: 30px;
}

#header__logo{
    width: 160px;
    margin: 20px 0 10px 0px;
}

#header__localisation {
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
}

#header__localisation .fas {
    margin-right: 15px;
}

.button--purple {
    border-radius: 50px;
    background: linear-gradient(#e872da, #a85ddc);;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    border: none;
    color: white;
    font-size:medium;
    box-shadow: 3px 3px 3px #aaa;
}

/* Section fonctionnement accueil */

li.flex {
    align-items: center;
}

.bloc-fonctionnement {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 270px;
    height: 70px;
    box-shadow: 2px 2px 10px rgb(212, 212, 212);
    margin-bottom: 8px;
}

.bloc-fonctionnement .fas{
    margin: 0 20px 0 20px;
}

.chiffre-fonctionnement {
    background-color: #9356DC;
    border-radius: 50px;
    padding: 1px 6px 1px 6px;
    color: white;
}

/* Section restaurant accueil*/

.restocard__img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.restocard {
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    position: relative;
}

.nouveau {
    position: absolute;
    top: 5%;
    left: 70%;
    background-color: rgb(36, 173, 98);
    color:rgb(17, 78, 45);
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
}

.restocard__body {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

/* Footer */

footer {
    background-color: #353535;
    color: white;
}

#footer__logo { 
    filter: invert(100%);
    width: 100px;
    margin: 16px 0 5px 20px;
}

ul li{
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

ul {
    padding-bottom: 30px;
}

footer .fas{
    margin-right: 15px;
    width: 10px;
}

/* Tablette */

@media (min-width: 768px) and (max-width: 920px){

}

/* Desktop */

@media (min-width: 920px) and all {

}